@font-face {
    font-family: font;
    src: url(font.woff2) format('woff2');
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    background: #fafafa;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
}
a {
    color: #2879d0;
    text-decoration: none;
}
.c1 {
    color: #998;
    font-style: italic;
}
.s { color: #d14 }
.na { color: #088 }
p { margin-top: 0 }
a:hover { text-decoration: underline }
header {
    padding: 40px 0;
    background: #2e7bcf;
    font-family: font,sans-serif;
}
header h1 {
    margin: 0 0 .2em 0;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
}
header h2 {
    margin: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
}
.inner {
    position: relative;
    margin: 0 auto;
}
#content-wrapper { padding-top: 30px }
.button {
    width: 134px;
    font-family: font, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    color: #2879d0;
    text-align: center;
    background: #9ddcff;
    border-radius: 5px;
}
code, pre {
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 13px;
}
pre {
    padding: 20px;
    overflow: auto;
    border: solid 1px #eee;
    background-color: #f8f8f8;
}
code {
    padding: 0;
    color: #2879d0;
}
.inner { width:93% }
#main-content h1, #main-content h2 {
    color: #474747;
    text-indent: 6px;
    font-family: font, sans-serif;
}
#main-content h1 {
    margin: 0;
    font-size: 2.8em;
    font-weight: normal;
}
#main-content h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    header h1, header h2 { width: 340px }
    header h1 { font-size: 60px }
    header h2 { font-size: 30px }
}
@media only screen and (max-width: 767px) {
    header { padding: 20px 0 }
    header h1 { font-size: 48px }
    header a.button { position: relative }
}
